.wrapper {
  max-width: 600px;
  height: 300px;
  overflow: hidden;
  border: 3px solid black;
  margin: 0 auto;
}

.slides {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
}

.slide {
  list-style: none;
  min-width: 600px;
  height: 100%;
  font-size: 72px;
  line-height: 300px;
  text-align: center;
  transform: translateX(-100%);
  /* transform: translate(0, 0); */
  /* display: none; */
}

.active {
  display: block;
  transition: all 1s ease-in;
  /* transform: translateX(-100%); */
}

.button-wrapper {
  margin: 0 auto;
  width: 100px;
}
